<div
  data-ng-if="mdView.current.record.MD_LegalConstraintsUseLimitation
                     || mdView.current.record.MD_LegalConstraintsOtherConstraints
                     || mdView.current.record.MD_LegalConstraintsReferenceTitle
                     || mdView.current.record.MD_LegalConstraintsGraphicLinkage"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded" title="{{'legalConstraints' | translate}}">
    <i class="fa fa-fw fa-gavel"></i>
  </span>
  <div>
    <h2 data-translate="">accessAndUseConstraints</h2>

    <p
      data-gn-metadata-object-field="MD_LegalConstraintsOtherConstraints"
      data-record="mdView.current.record"
    ></p>

    <p
      data-gn-metadata-object-field="MD_LegalConstraintsUseLimitation"
      data-record="mdView.current.record"
    ></p>

    <!-- License Information -->
    <div
      data-ng-if="mdView.current.record.MD_LegalConstraintsReferenceTitle
                         || mdView.current.record.MD_LegalConstraintsGraphicLinkage"
      class="gn-margin-top"
    >
      <h3 data-translate="">license</h3>
      
      <div data-ng-if="mdView.current.record.MD_LegalConstraintsReferenceTitle">
        <a data-ng-href="{{mdView.current.record.MD_LegalConstraintsReferenceLinkage}}" 
           target="_blank"
           data-ng-if="mdView.current.record.MD_LegalConstraintsReferenceLinkage">
          {{mdView.current.record.MD_LegalConstraintsReferenceTitle}}
        </a>
        <span data-ng-if="!mdView.current.record.MD_LegalConstraintsReferenceLinkage">
          {{mdView.current.record.MD_LegalConstraintsReferenceTitle}}
        </span>
      </div>
      
      <div data-ng-if="mdView.current.record.MD_LegalConstraintsGraphicLinkage" class="gn-margin-top">
        <img data-ng-src="{{mdView.current.record.MD_LegalConstraintsGraphicLinkage}}" 
             alt="License graphic"
             style="max-width: 100px; height: auto;" />
      </div>
    </div>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.MD_SecurityConstraintsUseLimitation"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded" title="{{'securityConstraints' | translate}}">
    <i class="fa fa-fw fa-lock"></i>
  </span>
  <div>
    <h2 data-translate="">securityConstraints</h2>

    <p
      data-gn-metadata-object-field="MD_SecurityConstraintsUseLimitation"
      data-record="mdView.current.record"
    ></p>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.MD_ConstraintsUseLimitation"
  class="flex-row gn-margin-bottom"
>
  <span class="badge badge-rounded" title="{{'resourceConstraints' | translate}}">
    <i class="fa fa-fw fa-lock"></i>
  </span>
  <div>
    <h2 data-translate="">resourceConstraints</h2>

    <p
      data-gn-metadata-object-field="MD_ConstraintsUseLimitation"
      data-record="mdView.current.record"
    ></p>
  </div>
</div>